<ng-template #loading>
  <div class="alert alert-info text-center d-flex jc-c ai-c">
    Cargando información
    <div class="ms-4 spinner-border" role="status">
      <span class="visually-hidden">Cargando información</span>
    </div>
  </div>
</ng-template>

<div *ngIf="country; else loading">

  <div class="row">
    <div class="col-12">
      <h2>País: <strong>{{ country.name.common }}</strong></h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3 class="mb-3">Bandera</h3>
      <img [src]="country.flags.svg" alt="bandera del país" class="img-thumbnail">
    </div>
    <div class="col">
      <h3 class="mb-3">Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población:</strong> {{ country.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Código:</strong> {{ country.cca3 }}
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <h3>Traducciones</h3>
    <div class="col col-md-6">
      <div class="d-flex align-middle mb-1">
        <p class="mb-0 pe-2">ara</p>
        <span class="badge bg-primary m-1">{{ country.translations['ara']}}</span>
      </div>
      <div class="d-flex align-middle mb-1">
        <p class="mb-0 pe-2">bre</p>
        <span class="badge bg-primary m-1">{{ country.translations['bre']}}</span>
      </div>
      <div class="d-flex align-middle mb-1">
        <p class="mb-0 pe-2">ces</p>
        <span class="badge bg-primary m-1">{{ country.translations['ces']}}</span>
      </div>
      <div class="d-flex align-middle mb-1">
        <p class="mb-0 pe-1">cym</p>
        <span class="badge bg-primary m-1">{{ country.translations['cym']}}</span>
      </div>
      <div class="d-flex align-middle mb-1">
        <p class="mb-0 pe-2">deu</p>
        <span class="badge bg-primary m-1">{{ country.translations['deu']}}</span>
      </div>
    </div> <!-- fin col col-nd-6 -->
    <div class="col col-nd-6">
      <div class="d-flex align-middle mb-1">
        <p class="mb-0 pe-2">fin</p>
        <span class="badge bg-primary m-1">{{ country.translations['fin']}}</span>
      </div>
      <div class="d-flex align-middle mb-1">
        <p class="mb-0 pe-2">ita</p>
        <span class="badge bg-primary m-1">{{ country.translations['ita']}}</span>
      </div>
      <div class="d-flex align-middle mb-1">
        <p class="mb-0 pe-2">kor</p>
        <span class="badge bg-primary m-1">{{ country.translations['kor']}}</span>
      </div>
      <div class="d-flex align-middle mb-1">
        <p class="mb-0 pe-1">per</p>
        <span class="badge bg-primary m-1">{{ country.translations['per']}}</span>
      </div>
      <div class="d-flex align-middle mb-1">
        <p class="mb-0 pe-2">est</p>
        <span class="badge bg-primary m-1">{{ country.translations['est']}}</span>
      </div>
    </div> <!-- fin col col-nd-6 -->
  </div> <!-- fin row mt-4 -->
</div> <!-- fin ngIf-->